@import "../../../styles/styles.scss";
@import "../../../styles/mixins/home";

#admin-users--view {
  .admin-users--filter {
    color: inherit;
  }

  .admin-users--items {
    display: flex;
    gap: 12px;
    height: 80vh;

    .admin-users--list {
      width: 40%;
      height: 100%;

      .global-list {
        height: 100%;

        ul li {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .admin-users--preview {
      width: 70%;
    }
  }
}