@import "../../../styles/mixins/home";

nav#main-nav {
    position: absolute;
    z-index: 1;
}

#map-view {
    width: 100%;

    .map-component {
        .leaflet-container {
            @include radius-12;
            height: 90vh;
            width: auto;
        }
    }
}