@import "../../../styles/mixins/home";
@import "../../../styles/mixins/device-list";

.pickup-location--list-view {
  @include deviceListViewParent;
  @include deviceListView;
  margin: 64px 0;

  .pickup-locations--list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .item-view {
    @include baseForm;
    @include deviceListViewItem;
    gap: 0;
    padding: 0;

    .item-header,
    .item-body {
      padding: 1rem;
    }

    .item-header {
      height: 45%;
      align-items: end;
      background-image: url("../../../assets/images/dummy-pickuo-location-image.jpg");
      background-size: cover;

      h3 {
        color: white;
      }
    }

    .item-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 55%;

      p {
        text-align: left;
        font-size: 0.8em;
        color: black;
      }

      .actions {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-height: 48px;

        button {
          font-size: 0.7em;
          background-color: transparent;
          color: green;
          border: 1px solid green;
          border-radius: 12px;

          span {
            margin-left: 12px;
          }

          &:hover {
            color: white;
            background-color: green;
            border: none;
          }
        }
      }
    }
  }
}
