.custom-modal {

    .modal-dialog {
        position: absolute;
        top: 2;
        right: 10px;  
        width: 30%;
        min-height: min-content;
        z-index: 3050;
      }

    .modal-body {
      background-color: #f8f9fa;
      border-radius: 8px;
      z-index: 3050;
    }
  
  }