.single-pickup-location {
  .single-pickup-location--card {
    .card-header {
      display: flex;
      min-height: 320px;
      max-height: 320px;
      background-image: url("../../../assets/images/dummy-single-pickuo-location-image.jpg");
      background-size: cover;
    }
  }

  .single-pickup-location--map {
    img {
        width: 100%;
    }
  }
}
