@import "../../../../styles/mixins/home";


#profile--basic-info--form {
  @include baseForm;

  .profile--picture {
    .profile--picture--actions p {
      padding-top: 12px;
      font-size: .9em;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  form {
    label {
      width: 100%;
      text-align: left;
    }
  }

  .custom-color {
    color:#54a444;
  }
}