:root {
    --palette-white: #ffffff;
    --palette-light-grey: #F7F8F9;
    --palette-grey: #808080;
    --palette-green: #198754;
    --palette-dark-blue: #263238;

    --palette-auth-light-grey: #F7F8F9;
    --palette-auth-link: #5095D4;
    
    --text-shadow: #00000050;
}