$colorMain: #25983d;
$colorScrollbarThumb: rgb(134, 184, 134);
$colorDeviceBackground: rgb(227, 238, 227);

::-webkit-scrollbar {
  width: 10px;
  background-color: lightgrey;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: $colorScrollbarThumb;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: $colorMain;
}
