@import "./mixins/device-list";

.view-header {
  @include deviceListHeader;
  margin-bottom: 32px;

  .view-title {
    margin-bottom: 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--palette-grey-light);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--palette-green-lightest);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--palette-green);
}
