.user-dashboard-wrapper {
  .user-card,
  .user-info {
    display: flex;
  }

  .user-card {
    gap: 20px;
    margin: 64px;

    img {
      width: 150px;
      height: 150px;
    }

    .card-text {
      display: flex;
      gap: 12px;
      margin-bottom: 0;
    }
  }

  .user-info {
    gap: 40px;

    .key {
      margin-right: 12px;
      font-weight: bold;
    }
  }
}
