.user-dashboard-wrapper {
  width: 100%;

  .user-card {
    margin: 64px;

    .card-text {
      gap: 12px;
      margin-bottom: 0;
    }
  }

  .user-info {
    .key {
      margin-right: 12px;
      font-weight: bold;
    }
  }
}
