@import "../../styles/root";

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#home-container {
  padding-right: 0 !important;
  padding-left: 0 !important;

  #public-navigation {
    background-color: var(--palette-green) !important;
  }

  .navbar-brand,
  .navbar-toggler-icon {
    color: var(--palette-white);
  }
}
