@import "../../styles/root";
@import "../../styles/styles.scss";
@import "../../styles/mixins/home";
@import "../../styles/mixins/device-list";

.pagination {
  @include deviceListPagination;
}

.global-list {
  height: 78%;
  overflow: scroll;
  overflow-x: hidden;

  ul {
    padding: 0;
    padding-right: 8px;

    li {
      width: 100%;
      list-style: none;
      padding: 12px 24px;
      border-radius: 12px;

      p {
        margin-bottom: 0;

        strong {
          margin-right: 6px;
        }

        span {
          margin-right: 12px;
        }
      }

      h5 {
        color: var(--palette-green);
      }

      div {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        min-width: 75%;

        span {
          margin-left: 4px;
          color: var(--palette-black);
        }
      }

      &:hover {
        cursor: pointer;
        background-color: var(--palette-beige);
      }
    }
  }
}

.public-devices {
  .list {
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;

    ul {
      li {
        @include radius-12;
        padding: 12px 24px;
        margin-bottom: 8px;
        list-style: none;
        background-color: var(--palette-beige);

        img {
          overflow: hidden;
        }

        p {
          font-size: .8em;
        }

        h6,
        p {
          color: var(--palette-green);
        }

        div {
          span {
            color: var(--palette-black);
          }
        }

        &:hover {
          cursor: pointer;
          background-color: var(--palette-beige);
        }
      }
    }
  }
}