.admin-dashboard-wrapper {
  .admin-dashboard--item {
    max-height: 86vh;

    .admin-dashboard--info {
      gap: 12px;
      margin: 20px auto;

      p {
        margin-bottom: 0;
        color: grey;

        strong {
            margin-right: 6px;
        }
      }
    }
  }
}
