.profile-view {
    position: fixed;
    
    .option-group .option {
        height: 192px;

        .my-pickups,
        .my-devices,
        .sustainable-map,
        .pickup-locations,
        .minor-option {
            background-position: center;
            background-size: cover;
            overflow: hidden;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;

            &:hover {
                cursor: pointer;
                border: 2px solid var(--palette-green);
            }
        }

        .my-pickups {
            background-image: url("../../../assets/images/minhas-coletas-banner.jpeg");
        }

        .my-devices {
            background-image: url("../../../assets/images/my-devices-banner.jpeg");
        }

        .sustainable-map {
            background-image: url("../../../assets/images/sustainable-map-banner.jpeg");
        }

        .pickup-locations {
            background-image: url("../../../assets/images/pickup-locations-banner.jpeg");
        }

        .option-content {
            height: 100%;
            background-color: #00000050;
            text-shadow: 2px 2px 2px black;

            p {
                font-weight: 500;
            }
        }
    }
}