$colorMain: #25983d;

.notifications {
  position: absolute;
  top: 12px;
  right: 12px;

  padding: 12px 14px;
  background-color: black;
  color: white;

  border-radius: 50%;

  &:hover {
    background-color: $colorMain;
    cursor: pointer;
  }
}

main {
  display: flex;

  .content {
    width: 100%;
    padding: 12px 24px;
  }
}

.profile-view {
  .user-card,
  .user-info {
    display: flex;
  }

  .user-card {
    gap: 20px;
    margin: 64px auto;

    img {
      width: 150px;
      height: 150px;
    }

    .card-text {
      display: flex;
      gap: 12px;
      margin-bottom: 0;
    }
  }

  .user-info {
    gap: 40px;

    .key {
      margin-right: 12px;
      font-weight: bold;
    }
  }
}
