@import "../../../../styles/root";
@import "../../../../styles/mixins/home";

#connect-people {
  @include layout-break;

  .connect-people-img {
    @include background;
    background-image: url("../../../../../public/img/connect-people.jpeg");
  }

  .connect-people-text {
    @include layout-break-text;
  }

  .icon-container {
    min-height: 0;

    .icon {
      padding: 8px;
      margin-right: 12px;
    }
  }

  @media (max-width: 960px) {
    .connect-people-img {
      height: 20em;
    }

    .connect-people-text {
      padding: 4% 8%!important;
    }
  }
}
