@import "../../../styles/root";

.nav-width-closed {
  width: auto;
}

.hidden {
  display: none !important;
}

nav#main-nav {
  .nav-container {
    height: 100vh;
  }

  .nav-container,
  .profile {
    background-color: var(--palette-black);
  }

  .profile {
    .icon {
      color: var(--palette-green);
    }

    .info {
      h6, p {
        margin-bottom: 0;
        font-size: .8em;
      }

      p {
        color: var(--palette-green);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--palette-green);

      .icon, p {
        color: var(--palette-white);
      }
    }
  }

  .collapse-col {
    bottom: 4%;
  }

  ul {
    min-height: 83%;
    margin-bottom: 0;

    li {
      list-style: none;
      color: var(--palette-green);

      .nav-link {
        text-decoration: none;
        font-size: .8em;
      }

      &:hover {
        background-color: var(--palette-green);
        color: white;
        cursor: pointer;
      }
    }

    .hide {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
