@import "../../../styles/root";

.nav-width-closed {
  width: auto;
}

.hidden {
  display: none !important;
}

nav#main-nav {
  .nav-container {
    height: 100vh;
  }

  .nav-container,
  .profile {
    background-color: var(--palette-black);
  }

  .profile {
    .icon {
      color: var(--palette-green);
    }

    .info {
      h4,
      p {
        margin-bottom: 0;
        font-size: 1.2em;
      }

      h4 {
        color: var(--palette-white);
      }

      p {
        color: var(--palette-green);
      }
    }
  }

  ul {
    min-height: 83%;
    margin-bottom: 0;

    li {
      list-style: none;
      color: var(--palette-green);

      .nav-link {
        text-decoration: none;
        font-size: 1.2em;
      }

      &:hover {
        background-color: var(--palette-green);
        color: white;
        cursor: pointer;
      }
    }

    .hide {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
