@import "../../../../styles/root";
@import "../../../../styles/mixins/home";

#team {
  @include layout;
  @include section-vertical-padding;

  .title {
    @include section-tag;
  }

  .team-description {
    p {
      font-size: 16px;
    }
  }

  .team-card {
    display: flex;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    .card-text,
    .card-img {
      width: 50%;
    }

    .card-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      background-color: var(--palette-dark-blue);
      color: var(--palette-white);

      p {
        margin-bottom: 0;
      }

      .title {
        font-size: 16px;
      }

      .subtitle {
        font-size: 12px;
      }
    }

    .card-img {
      @include background;
      height: 125px;
      background-color: var(--palette-light-grey);
    }

    .card-img.first-img {
      background-image: url("../../../../../public/img/team-1.jpeg");
    }

    .card-img.second-img {
      background-image: url("../../../../../public/img/team-2.jpeg");
    }

    .card-img.third-img {
      background-image: url("../../../../../public/img/team-3.jpeg");
    }

    .card-img.fourth-img {
      background-image: url("../../../../../public/img/team-4.jpeg");
    }
  }
}
