h1 {
  font-weight: 300 !important;
}

.single-device {
  .single-device--card {
    display: flex;
    gap: 32px;

    img {
      width: 30%;
    }

    .single-device--data {
      width: 64%;

      strong {
        margin-right: 8px;
      }
    }

    .single-device--actions {
      display: flex;
      gap: 20px;
      
      p {
        padding: 12px;
        font-weight: 500;
        color: rgb(188, 185, 185);
        border: 2px solid lightgrey;
        border-radius: 12px;
        
        span {
          margin-left: 8px;
        }

        &:hover {
          cursor: pointer;
          border-color: green;
          color: green;
        }
      }

    }

    .single-device--badge {
      height: 5%;
      width: 6%;
      background-color: black;
      color: white;
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;

      border-radius: 12px;
    }
  }

  .single-device--description,
  .single-device--map {
    margin: 64px auto;
  }

  .single-device--map {
    h4 {
      margin-bottom: 24px;
    }

    img {
      max-width: 100%;
    }
  }
}
