@import "../../../styles/mixins/home";

nav#main-nav .profile {
    background: var(--palette-green);

    svg,
    p {
        color: var(--palette-white);
    }
}

.user-dashboard-wrapper {
    width: 110%;

    .user-card {
        margin: 64px;

        .card-text {
            gap: 12px;
            margin-bottom: 0;
        }
    }

    .user-info {
        width: 80%;

        .key {
            margin-right: 12px;
            font-weight: bold;
        }
    }

    .user-role {
        font-weight: bolder !important;
        font-size: larger;
        color: #54a444;
        margin-bottom: 0;
    }

    .edit-profile {
        font-weight: bold;
        color: #54a444;
    }

    .edit-icon {
        color: #54a444;
        margin-top: 3px;
    }
}

