.single-device--card {
  img {
    width: 100%;
  }

  .single-device--data {
    strong {
      margin-right: 8px;
    }
  }

  .single-device--edit {
    height: 72px;
    width: 72px;
    font-size: 1.3rem;

    .fa-pen-to-square {
      margin-right: .5em;
    }

    .fa-trash {
      color: red;

      &:hover {
        opacity: .6;
      }
    }

    &:hover {
      cursor: pointer;
      color: green!important;
    }
  }
}