.notifications {
    padding: 12px 14px;
    background-color: black;
    color: var(--palette-white);

    border-radius: 50%;

    &:hover {
        background-color: var(--palette-green);
        cursor: pointer;
    }
}