@mixin deviceListViewParent {
  display: flex;

  .list-view,
  .item-view {
    height: 76vh;
    width: 50%;
  }
}

@mixin deviceListHeader {
  display: flex;
  align-items: center;
  gap: 64px;

  h1 {
    margin-bottom: 0;
  }
}

@mixin deviceListHeaderSearchInput {
  width: 100%;
  height: 48px;
  padding-left: 32px;
  border: none;
  border-radius: 32px;
}

@mixin deviceListPagination {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  ul {
    display: flex;
    gap: 8px;
    padding: 0;

    li {
      list-style: none;
      padding-right: 8px;
      border-right: 1px solid black;

      &:hover {
        color: var(--palette-green);
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}

@mixin deviceListView {
  display: flex;
  gap: 16px;

  .list {
    max-height: 78vh;
  }

  div {
    width: 100%;
    height: 100%;

    .public-devices .device-list ul {
      display: block;

      li {
        min-height: 1px;
        padding: 8px 24px;
        background-color: var(--palette-beige);

        .pickup--filter {
          width: 100%;
          font-size: 0.8em;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

@mixin deviceListViewItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  .item-header,
  .text .main {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .item-header {
    img {
      width: 20%;
      border-radius: 12px;
    }
  }

  .text {
    .details {
      width: 50%;
      font-size: 0.8em;
      text-align: left;
      color: var(--palette-green);

      span {
        margin: auto 4px;
      }
    }
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;

      p {
        margin-bottom: 0;
        text-align: left;
        font-size: .9em;
      }
    }
  }

  .item-body {
    img {
      height: 100%;
    }
  }
}
