@import "../../../../styles/mixins/home";

#userInfoForm {
  @include baseForm;
  align-items: center;
}

#userInfoForm .custom-text {
  color:#54a444;
  font-weight: 500 !important;
  font-size: 14px;
}